.social-feed__header {
    text-align: center;
    margin-bottom: 75px;
    margin-top: 75px;
}

.social-feed__subtitle {
    display: block;
    font-size: 12px;
    /* smaller */
    letter-spacing: 0.25em;
    /* more elegant spacing */
    text-transform: uppercase;
    font-weight: 400;
    /* lighter */
    /* softer grey like Prestige */
    margin-bottom: 17px;
    /* better spacing */
    font-family: "Instrument Sans", sans-serif;
}


.social-feed__title {
    font-size: 26px;
    /* slightly smaller */
    letter-spacing: 0.18em;
    /* reduce from 5px (too much) */
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Instrument Sans", sans-serif;
    line-height: 1.4;
    /* IMPORTANT: remove tight 23px */
}

.social-feed__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1.875rem;
}

.social-feed__item {
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;
    cursor: pointer;

}

.social-feed__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition-smooth);


}

.social-feed__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity var(--transition-fast);
}

.social-feed__item:hover .social-feed__overlay {
    opacity: 1;
}

.social-feed__item:hover .social-feed__image {
    transform: scale(1.05);
}

.social-feed__icon {
    color: var(--color-white);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.1em;
}

@media (max-width: 992px) {
    .social-feed__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 576px) {
    .social-feed__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}