.video-showcase {
    background-color: #EFEFEF;
    padding: 0;
    width: 100%;
    overflow: hidden;
    height: 600px;
    
}

.video-showcase__player {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.video-showcase__player::-webkit-media-controls-panel {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

@media (max-width: 768px) {
    .video-showcase__player {
        height: auto;
    }
}